body{
	background: lightblue;
}

.noPadding{
	padding: 0px;
}

.centerCard{
	 display : flex;
}

.marginTopBottom{
	margin-top : 50px;
	margin-bottom : 50px;
}

.dollarBtn{
	width : 100px;
	margin : 10px;
}

.donatebtn{
	width : 100%;
}

.footer{
	min-height : 30vh;
}

.socialMedia{
	display : flex;
	flex-direction : row;
	justify-content: center;
	align-items: center;
}

.socialMedia i{
		font-size : 30pt;
		margin : 12px;
}

.mailingList{
	display : flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

.mailingList h4{
	align-self : flex-start;
	margin: 20px;
}

.col-mid-12,
.col-md-4,
.col-md-6{
	border: solid 0px black;
}

.list-group{
	margin-top: 50px;
	
}

.form-floating{
	margin: 30px;
}

.header{
	margin-top: 30px;
}

.card-body{
	border: solid 0px;
}




